<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<form id="city_form" method="get" class="input-form">
  					<input id="get_city" type="text" name="name" class="form_input">
  					<input type="submit" value="Find" class="form_btn">
				</form>
			</div>
		</div>
	</div>
<hr>
</header>