{% set title = "Weather forecast" %}
{% extends "./src/njk/main.njk" %}

{% block content %}

		<div class="row lst">
			<div class="col-lg-3">
				<div id="city"></div>
			</div>
			<div class="col-lg-3">
				<div id="city1"></div>
			</div>
		</div>
		<div class="row lst">
			<div class="col-lg-3">
				<div id="temp"></div>
			</div>
			<div class="col-lg-3">
				<div id="temp1"></div>
			</div>
		</div>
        <div class="row lst">
			<div class="col-lg-3">
				<div id="weath"></div>
			</div>
			<div class="col-lg-3">
				<div id="weath1"></div>
			</div>
		</div>

        <div class="row lst">
			<div class="col-lg-3">
				<div id="press"></div>
			</div>
			<div class="col-lg-3">
				<div id="press1"></div>
			</div>
		</div>

        <div class="row lst">
			<div class="col-lg-3">
				<div id="wind"></div>
			</div>
			<div class="col-lg-3">
				<div id="wind1"></div>
			</div>
		</div>

        <div class="row lst">
			<div class="col-lg-3">
				<div id="clouds"></div>
			</div>
			<div class="col-lg-3">
				<div id="clouds1"></div>
			</div>
		</div>
	</div>
{% endblock %}