<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/main.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="js/script.js"></script>
	<script src="./js/nunjucks.min.js"></script>
	
</head>
<body>
		{% include "./header.njk" %}
		<h1 id="errorMsg"></h1>
        <div class="container" id="head">
        	{% block content %}{% endblock %}
        </div>
</body>
</html>